.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.query-result {
  padding: 10px;
}

.fa-database {
  font-size: 18px;
}

.fa-table {
  padding-top: 2px;
  font-size: 22px;
}

table {
  width: 100%;
}

.editor-toolbar {
  background-color: white;
  border: 1px solid #ddd;
}

.editor-toolbar button{
  border:  1px solid #bbb;
  margin: 5px;
}
