.history-label {
  padding: 20px;
}

.fa-check-circle {
  color:green;
  font-size: 18px;
}

.fa-times {
  color:red;
  font-size: 18px;
}

// .mat-list-base .mat-list-item.mat-list-item-with-avatar {
//   height: 35px;
// }

.list-group-item.success {
  padding-top: 6px;
  padding-bottom: 6px;
}
